@{
    Layout = "~/Views/Shared/_Layout_Afterlogin.cshtml";
}

<section class="inner-page">
    <div class="container-fluid">
        <h2>Profile</h2>
        <div class="profile-round-box">
            <div class="profile-innr clearfix">
                <div class="profile-innr-lft clearfix">
                    <div class="profile-innr-pic">
                        <div class="dummy-pic">
                            <img src="/images/images_Dashboard/dummy.png" alt="" />

                        </div>
                        <div class="indup">
                            <div class="choose_button">
                                <input type="file" id="txtImg" name="upload_file" />

                            </div>
                        </div>
                        <div class="profile-name">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                            <h4>Paridhi  Sokal</h4>
                        </div>
                    </div>
                    <div class="profile-login">
                        <h3>Last Login:</h3>
                        <div class="login-date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>26-Nov-2019</span>

                        </div>
                        <div class="login-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span>03:37 PM</span>

                        </div>
                    </div>
                    <!-- == -->
                    <div class="profile-login">
                        <h3>Joined On:</h3>
                        <div class="login-date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>17-Oct-2017</span>
                        </div>
                        <div class="login-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span>02:20 PM</span>
                        </div>
                    </div>
                </div>
                <!-- == -->
                <div class="profile-innr-rght clearfix">
                    <div class="profile-innr-rght-main">
                        <div class="investor-detail">
                            <h2>
                                Investor Details
                                <span>Wealthclock Client Id : WC08170072</span>
                            </h2>
                            <div class="applicat-detail">
                                <div class="mode-hold">
                                    <h5></h5>
                                </div>
                                <div class="mode-hold">
                                    <h5>First Applicant Details</h5>
                                    <h6>
                                        Mode of Holding:
                                        <span>Single</span>
                                    </h6>
                                </div>
                                <div class="outr-tbl">
                                    <div class="applicat-tbl">
                                        <div class="applicat-row">
                                            <div class="applicat-cell app-hdr">
                                                Full Name
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                PAN
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Date of Birth
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Occupation
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Guardian Name
                                            </div>
                                        </div>
                                        <div class="applicat-row">
                                            <div class="applicat-cell">
                                                Paridhi  Sokal
                                            </div>
                                            <div class="applicat-cell">
                                                FGFPS1946K
                                            </div>
                                            <div class="applicat-cell">

                                                <span>

                                                    12/03/1990

                                                </span>

                                            </div>
                                            <div class="applicat-cell">
                                                <div class="applicat-cell">
                                                    Services
                                                </div>
                                            </div>
                                            <div class="applicat-cell">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Second Application -->
                            <div class="applicat-detail">
                                <div class="mode-hold">
                                    <h5>Second Applicant Details</h5>
                                </div>
                                <div class="outr-tbl">
                                    <div class="applicat-tbl">
                                        <div class="applicat-row">
                                            <div class="applicat-cell app-hdr">
                                                Full Name
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                PAN
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Date of Birth
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Occupation
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Guardian Name
                                            </div>
                                        </div>
                                        <div class="applicat-row">
                                            <div class="applicat-cell">

                                            </div>
                                            <div class="applicat-cell">
                                            </div>
                                            <div class="applicat-cell">
                                            </div>
                                            <div class="applicat-cell">
                                            </div>
                                            <div class="applicat-cell">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- == -->
                        <div class="investor-detail">
                            <div class="applicat-detail">
                                <div class="mode-hold">
                                    <h3>Permanent Address</h3>
                                </div>
                                <div class="outr-tbl">
                                    <div class="applicat-tbl">
                                        <div class="applicat-row">
                                            <div class="applicat-cell app-hdr">
                                                Permanent Address
                                            </div>
                                        </div>
                                        <div class="applicat-row">
                                            <div class="applicat-cell">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                41/1 Chhoti Gwal Toli Near Sarvate Bus Stand ,  Indore,452001
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- == -->
                        <div class="investor-detail">
                            <div class="applicat-detail">
                                <div class="mode-hold">
                                    <h3>Bank Details</h3>
                                </div>
                                <div class="outr-tbl">
                                    <div class="applicat-tbl">
                                        <div class="applicat-row">
                                            <div class="applicat-cell app-hdr">
                                                Bank Name
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Bank Type
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Bank Account Number
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Back IFSC Code
                                            </div>
                                        </div>
                                        <div class="applicat-row">
                                            <div class="applicat-cell">
                                                State Bank Of India
                                            </div>
                                            <div class="applicat-cell">
                                                <span>Savings Account</span>
                                            </div>
                                            <div class="applicat-cell">
                                                20129843287
                                            </div>
                                            <div class="applicat-cell">
                                                SBIN0030127
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- == -->
                            <div class="applicat-detail">
                                <div class="outr-tbl">
                                    <div class="applicat-tbl">
                                        <div class="applicat-row">
                                            <div class="applicat-cell app-hdr">
                                                Bank Address
                                            </div>
                                        </div>
                                        <div class="applicat-row">
                                            <div class="applicat-cell">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                University Campus,Rnt Marg
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ======== -->
                        <div class="investor-detail">
                            <div class="applicat-detail">
                                <div class="mode-hold">
                                    <h3>Nominee Details</h3>
                                </div>
                                <div class="outr-tbl">
                                    <div class="applicat-tbl">
                                        <div class="applicat-row">
                                            <div class="applicat-cell app-hdr">
                                                Nominee Name
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Nominee Relationship
                                            </div>
                                            <div class="applicat-cell app-hdr">
                                                Nominee Date of Birth
                                            </div>
                                        </div>
                                        <div class="applicat-row">
                                            <div class="applicat-cell">
                                                Ashok Sokal
                                            </div>
                                            <div class="applicat-cell">
                                                Father
                                            </div>
                                            <div class="applicat-cell">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Update Password-->
                    <div class="profile-innr-login">
                        <div class="mode-hold">
                            <h2>
                                Reset Password
                            </h2>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3 select-box">
                                <label>Old Password</label>
                                <input type="password" class="but txt-type" placeholder="Enter Old Password" id="txt_oldPassword" />
                            </div>
                            <div class="col-sm-3 select-box">
                                <label>New Password</label>
                                <input type="password" class="but txt-type" placeholder="Enter New Password" id="txt_NewPassword" />
                            </div>
                            <div class="col-sm-3 select-box">
                                <label>Re-Type Password</label>
                                <input type="password" class="but txt-type" placeholder="Re-Type Password" id="txt_NewConfirmPassword" />
                            </div>
                            <div class="col-sm-3 select-box">
                                <label>&nbsp;</label>
                                <input type="button" class="logbut" value="Save" id="btn_save" />
                            </div>
                        </div>
                    </div>

                    <!--Update Mandate Details-->
                    <div class="profile-innr-login">
                        <div class="mode-hold">
                            <h2>
                                Update Mandate ID
                            </h2>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3 select-box">
                                <label>ISIP Mandate ID</label>
                                <input type="text" class="but txt-type _mandateText" placeholder="Enter ISIP mandate id" id="txt_mandateid" value="BSE000000032637" disabled />
                            </div>
                            <div class="col-sm-3 select-box">
                                <label>XSIP Mandate ID</label>
                                <input type="text" class="but txt-type _mandateText" placeholder="Enter XSIP id" id="txt_xsipID" value="717302" disabled />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--Upload profile pic-->
@*<script type="text/javascript">

    $("body").on("change", "#txtImg", function () {
        var data = new FormData();
        var files = $("#txtImg").get(0).files;
        if (files.length > 0) {
            data.append("ProfilePic", files[0]);
            var tp = "ProfilePic";
            var res1 = fileUpload(data, tp);
        }
    });


    function fileUpload(data, tp) {
        $(".ui-loader").removeClass("hide");
        $.ajax({
            url: "/GenericFileUpload/FileUpload.ashx?type=" + tp,
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                if (response != "") {
                    var res = response.split('|');
                    if (res[0] == 'Success') {
                        $.post("/Myaccount/ImageUpload", { FilePath: res[1] }, function (data) {
                            $('.uiloader').addClass('hide');
                            var arr = data.split('!');
                            if (arr[0] == "Success") {
                                $.alert({
                                    title: 'Alert!',
                                    content: 'Image Inserted!',
                                });
                                setTimeout(function () {
                                    location.reload();
                                }, 3000);
                            }
                            else {
                                $.alert({
                                    title: 'Alert!',
                                    content: 'Insert only .png or .jpg file only',
                                });
                                $("#txtImg").prop('disabled', false);
                            }
                        });
                    }
                    else {
                        $(".ui-loader").addClass("hide");
                    }
                }
                else {
                    $(".ui-loader").addClass("hide");
                }
            },
            error: function (er) {
                $(".ui-loader").addClass("hide");
                $.alert({
                    title: 'Alert!',
                    content: "Something went wrong.",
                });
            }

        });
    }
        </script>*@

<!--Update Mandate-->


<div class="ui-loader ui-loader-default hide">
    <span class="ui-icon ui-icon-loading"></span>
</div>
<div class="kyc-loader kyc-loader-default hide">
    <span class="kyc-icon kyc-icon-loading"></span>
</div>
