
@{
   Layout = "~/Views/Shared/_Layout_Afterlogin.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,900|Lato:200,300,400,500,600,700,900|Poppins:200,300,400,500,600,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="/css/css_Dashboard/scroll.css" rel="stylesheet">
<link href="/css/css_Dashboard/slick.css" rel="stylesheet">
<link href="/css/css_Dashboard/font-awesome.min.css" rel="stylesheet">
<link href="/css/css-Dashboard/jquery.fancybox.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.min.css" />



<section class="ds-board-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 quik">
                <div class="quick-outr" data-simplebar>
                    <div class="quick-text">
                        <h3>Quick Invest</h3>
                    </div>
                    <div class="quick-innr">
                        <a href="javascript:void(0);">
                            <div class="quick-white">
                                <a href="/Dashboard/NormalOrder" id="anc_Purchase">
                                    <div class="quick-flex">
                                        <div class="quick-ing-innr">
                                            <div class="quick-ing">
                                                <img src="/images/round1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="quick-para">
                                            <h3>Lumpsum</h3>
                                            <p>One Time Investment</p>
                                        </div>
                                    </div>
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <div class="quick-white">
                                <a href="/Dashboard/SipOrder" id="anc_sip">
                                    <div class="quick-flex">
                                        <div class="quick-ing-innr">
                                            <div class="quick-ing">
                                                <img src="/images/round2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="quick-para">
                                            <h3>SIP</h3>
                                            <p>Invest in small amounts regularly</p>
                                        </div>

                                    </div>
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <div class="quick-white">
                                <a href="/Dashboard/Spreadorder" id="anc_swp">
                                    <div class="quick-flex">
                                        <div class="quick-ing-innr">
                                            <div class="quick-ing">
                                                <img src="/images/round3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="quick-para">
                                            <h3>Spread Order</h3>
                                            <p>Place Buy and Redeem order in Liquid Fund simultaneously</p>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </a>
                        <div class="how-to-sec">
                            <div class="how-outr">
                                <div class="how-innr">
                                    <div class="how-slider">
                                        <div class="how_slide">
                                            <div class="how-innr">
                                                <div class="imgg-outr">
                                                    <a href="/MoneyTools/RightAmountForYourSIP" data-fancybox="images" data-caption="">
                                                        <img src="/images/slide-pic.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="how-txt">
                                                    <h3>How to set up SIP?</h3>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="how_slide">
                                            <div class="how-innr">
                                                <div class="imgg-outr">
                                                    <a href="https://www.youtube.com/watch?v=d9wQ49ZerG0&feature=youtu.be" data-fancybox="images" data-caption="" target="_blank">
                                                        <img src="/images/Addtopup.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="how-txt">
                                                    <h3>How to set Additional Purchase?</h3>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="advisor">
                            <div class="ad-circl">
                                <div class="ad-img">
                                    <a href="javascript:void(0);">
                                        <img src="images/man.png" alt="" />
                                    </a>
                                </div>
                                <div class="ad-name text-center">
                                    <h4>Your Advisor</h4>
                                    <p>No Advisors Select</p>
                                    <a href="#" class="add-btn">Contacts</a>
                                </div>
                            </div>

                        </div>

                        <div class="support-sect">
                            <div class="sup-img text-center">
                                <img src="images/support.png" alt="" />
                                <h3>Support</h3>
                                <p>If you have questions about our company or services kindly let us know.</p>
                                <a href="/Dashboard/NewSupport" class="add-btn grn-bttn">Create Service Request</a>
                                <a href="/Dashboard/OpenSupport" class="add-btn grn-bttn">View Service Request</a>
                            </div>
                        </div>
                        <div class="quick-link">
                            <div class="quick-link-outr">

                                <div class="quick-text">
                                    <h3>Quick Links</h3>
                                </div>
                                <div class="quick-list">
                                    <ul>

                                        <li><a href="/Insights/Blog" class="quick-lnk">Blogs</a></li>
                                        <li><a href="/MoneyTools" class="quick-lnk">Financial Tools</a></li>
                                        <li><a href="/Index/TermsAndConditions" class="quick-lnk">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="follow-us-sec">

                            <div class="quick-text">
                                <h3>Social Media</h3>
                            </div>
                            <div class="follow-us-socl-icn">
                                <ul>
                                    <li><a href="https://www.facebook.com/wealthclock/" class=""><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/wealthclock?lang=en" class=""><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://in.linkedin.com/company/wealthclockadvisors" class=""><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10">


                <section class="incep-graph incep port-over">
                    <div class="container-fluid">
                        <div class="quick-text">
                            <h3>Portfolio Overview</h3>
                        </div>
                        <div class="row outtr">
                            <div class="col-md-6">
                                <div class="invest-txt-outr">
                                    <div class="invest-inner">
                                        <div class="in-img">
                                            <img src="/images/images_Dashboard/icon1.png" alt="">
                                        </div>
                                        <div class="in-amt">
                                            <label class="lb">8,764</label>
                                            <i class="fa fa-arrow-up" aria-hidden="true" style="color:green"></i>
                                            <label class="alg">(6.3%)</label>
                                            <h3>Investment Returns</h3>
                                        </div>
                                    </div>
                                    <div class="invest-in">
                                        <table>



                                            <tr>
                                                <td>Invested Value</td>



                                                <td class="gggg"> <label>89,000</label></td>


                                                </td>


                                            </tr>
                                            <tr>
                                                <td>Current Value</td>



                                                <td class="gggg"><label>97,764</label></td>




                                            </tr>

                                        </table>
                                    </div>
                                    <div class="invest-para">
                                        <h4>
                                            Have any questions about your Portfolio ?
                                        </h4>
                                        <p>
                                            If you have any querries about your portfolio please feel free to reach out to us.
                                        </p>
                                        <div class="btn-sec1">
                                            <a href="https://www.meetingbird.com/l/wealthclock/advisory" target="_blank" class="">
                                                Schedule
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div>
                                <img src=" images />inception.jpg" alt="" />
                            </div> -->
                            <div class="col-md-6">
                                <div class="incep-port port">
                                    <div class="tab-sec">
                                        <div class="incep-pie-inn">
                                            <div id="container"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>




                <!--					ssss-->
                <div class="recomended-outr">
                    <div class="container-fluid">
                        <div class="quick-text">
                            <h3>Recommended Solutions</h3>
                        </div>
                        <div class="recom-innr top-pd">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="recom-pic">
                                        <div class="recom-pic-sec">
                                            <img src="/images/recom1.png" alt="" class="center" />
                                        </div>
                                        <div class="recom-txt">
                                            <h3>Tax Saving Plan</h3>
                                            <p>Save upto 46,500 in 80C with ELSS funds with the shortest lock in period of 3 years and better than PPF, Insurance and FD Returns </p>
                                            <a href="/Transact/SaveTaxDetails" class="add-btn">Invest</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="recom-pic">
                                        <div class="recom-pic-sec">
                                            <img src="/images/recom2.png" alt="" class="center" />
                                        </div>
                                        <div class="recom-txt">
                                            <h3>Wealth Building Plan </h3>
                                            <p>Inflation beating portfolio best suited for goals such as Retirement Planning, Buying Home, Wealth Building ,Child Education, Wedding, Buying Car</p>
                                            <a href="/Transact/BuildWealth" class="add-btn">Invest</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="recom-pic">
                                        <div class="recom-pic-sec">
                                            <img src="/images/recom3.png" alt="" class="center" />
                                        </div>
                                        <div class="recom-txt">
                                            <h3>Regular Income Plan</h3>
                                            <p>Portfolio which gives income at fixed intervals while beating Inflation and giving capital appreciation at the same time</p>
                                            <a href="/Transact/RegularIncome" class="add-btn">Invest</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goal-section-outter">
                    <div class="container-fluid">
                        <div class="quick-text">
                            <h3>My Goals</h3>
                        </div>
                        <div class="my-gl-outr">
                            <div class="glkk">
                                <span><img src="/images/icons8-goal-64.png" /></span>
                                <p>You have not created any Goal, hence we cannot<br /> populate any data for you</p>
                                <a href="/goaltracker/goaldetails" class="add-btn">Add Goal</a>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="in-ovrview-sec"></div>
                <div class="insurance_outercls">
                    <div class="container-fluid">
                        <div class="quick-text">
                            <h3>Insurance Overview</h3>
                        </div>
                        <div class="in-ovrview-outr top-pd">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="in-ovr-all">
                                        <div class="glkk">
                                            <span><img src="/images/image.png" /></span>
                                            <p>You have not made any life insurance,hence we cannot populate any data for you</p>
                                            <a href="/dashboard/networth" class="add-btn">Add Life Insurance</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="in-ovr-all">
                                        <div class="glkk">
                                            <span><img src="/images/image.png" /></span>
                                            <p>You have not made any life insurance,hence we cannot populate any data for you</p>
                                            <a href="/dashboard/networth" class="add-btn">Add Insurance</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="in-ovr-all">
                                        <div class="glkk">
                                            <span><img src="/images/image.png" /></span>
                                            <p>You have not made any life insurance,hence we cannot populate any data for you</p>
                                            <a href="/dashboard/networth" class="add-btn">Add Insurance</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/js/highcharts.js"></script>
<script src="/js/highcharts-3d.js"></script>
<script src="/js/exporting.js"></script>
<script src="/js/highcharts-more.js"></script>
<script src="/js/solid-gauge.src.js"></script>
<script src="/js/slick.js"></script>


<script src="/js/js-Dashboard/jquery.scrolly.min.js"></script>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script>
    var json = JSON.parse("[{&quot;name&quot;:&quot;Hybrid: Equity-Oriented&quot;,&quot;y&quot;:37.70,&quot;color&quot;:null},{&quot;name&quot;:&quot;Large cap&quot;,&quot;y&quot;:62.30,&quot;color&quot;:null}]".replace(/&quot;/g, '"'));
    var data = [];
    for (var i in json) {
        var serie = new Array(json[i].name, json[i].y, json[i].color);
        data.push(serie);
    }

    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            backgroundColor: '#fff',
            height: 250,
            margin: [0, 0, 0, 0],
            spacingTop: 0,
            spacingBottom: -7,
            spacingLeft: 0,
            spacingRight: 0,
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Investment Portfolio Allocation',
            style: {
                fontWeight: 'bold',
            }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                colors: [
                    '#4BFAA5', '#42C6EA', '#AA42EA', '#EA5B42', '#42EA5B', '#E242EA', '#428EEA', '#29658E',
                    '#B2D7F5', '#F9F379', '#D1F16D', '#5E790A', '#3F2C7A', '#953881', '#AD86A3', '#2C5034',
                    '#2F7F95', '#DA0844', '#B1F9C0', '#035FC6', '#978AAE', '#B74997', '#DA0808', '#FAEB4B',

                ],
                allowPointSelect: true,
                cursor: 'pointer',
                size: 240,
                depth: 20,
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            },

        },
        series: [{
            type: 'pie',
            name: 'Total Investment',
            data: data
        }]
    });

</script>
<script type="text/javascript">
    var descriptionString = ''

    // Inside function that populates website with content from JSON object:
    parsedJSON = JSON.parse(this.responseText);

    descriptionString = parsedJSON['activities'][0]['description'];
    if (descriptionString != 'null') {
        document.getElementById('goalt').style.display = 'block';
    } else {
        document.getElementById('goalt').style.display = 'none';
    }
</script>








<div class="ui-loader ui-loader-default hide">
    <span class="ui-icon ui-icon-loading"></span>
</div>
<div class="kyc-loader kyc-loader-default hide">
    <span class="kyc-icon kyc-icon-loading"></span>
</div>


    </div>

