@{
    ViewBag.Title = "Moneytools";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
    

}

<figure class="top-scren">
    <!-- banner -->
    <section class="bannr-sec money-bannr">
        <div class="bannr-outr">
            <div class="container">
                <div class="bannr-innr wow fadeInUp" data-wow-delay="0.5s">
                    <h1>@ViewBag.position133</h1>
                    <!-- <h5>Proin gravida nibh vel velit auctor alique enean sollicitudin</h5> -->
                </div>
            </div>
        </div>
        <!-- end banner -->
        <!-- new mouse start -->
        <div class="ng-scope" id="content-view">
            <div style="display: block;" class="ng-scope" id="mouse-scroll">
                <div><span class="unu"> </span> <span class="doi"> </span> <span class="trei"> </span> </div>
            </div>
        </div>
        <!-- new mouse ends -->
    </section>
    <!-- long-term -->
    <section class="hm long-term text-center">
        <div class="container">
            <div class="long-outr commn-outr">
                <h3>@ViewBag.position134</h3>
                <p>
                   @ViewBag.position135
                </p>
                <!-- <a class="commn-bttn whte wow fadeInUp" data-wow-delay="0.5s" href="javascript:void(0)">read more</a> -->
            </div>
        </div>
    </section>
    <!-- end long-term -->
</figure>

<!-- money tools -->
<section class="money-sec">
    <div class="container">
        <div class="commn-outr wow fadeInUp animated" style="visibility: visible;">
            <div id="owl-demo4" class="money-tools owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 3990px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-285px, 0px, 0px);">
                        <div class="owl-item" style="width: 285px;">
                            <div class="item">
                                <div class="money-innr text-center" style="height: 243px;">
                                    <div class="money-innr-icon">
                                        <img src="/images/sip-icon.png" alt="">
                                    </div>
                                    <h4>SIP Calculator</h4>

                                    <p>
                                        Now, plan for your financial future with ease! With an easy spin of the money wheel SIP ca..
                                    </p>
                                </div>
                                <a class="commn-bttn" href="/MoneyTools/SipCalculator">learn more</a>
                            </div>
                        </div><div class="owl-item" style="width: 285px;">
                            <div class="item">
                                <div class="money-innr" style="height: 243px;">
                                    <div class="money-innr-icon">
                                        <img src="/images/asset-icon.png" alt="">
                                    </div>
                                    <h4>Asset Allocation</h4>


                                    <p>
                                        Asset allocation is an investment portfolio technique that aims to balance risk and create..
                                    </p>
                                </div>
                                <a class="commn-bttn" href="/MoneyTools/AssetAllocation">learn more</a>
                            </div>
                        </div><div class="owl-item" style="width: 285px;">
                            <div class="item">
                                <div class="money-innr" style="height: 243px;">
                                    <div class="money-innr-icon">
                                        <img src="/images/right-amnt-icon.png" alt="">
                                    </div>
                                    <h4>Right Amount For Your SIP</h4>

                                    <p>
                                        A Systematic Investment Plan (SIP) makes sense only when the amount invested helps in real..
                                    </p>
                                </div>
                                <a class="commn-bttn" href="/MoneyTools/RightAmountForYourSIP">learn more</a>
                            </div>
                        </div><div class="owl-item" style="width: 285px;">
                            <div class="item">
                                <div class="money-innr" style="height: 243px;">
                                    <div class="money-innr-icon">
                                        <img src="/images/cutting-icon.png" alt="">
                                    </div>
                                    <h4>Cutting Extra Expenses</h4>

                                    <p>
                                        Reducing your spending is just as important as increasing cash flow to your overall financ..
                                    </p>
                                </div>
                                <a class="commn-bttn" href="/MoneyTools/CuttingExtraExpenses">learn more</a>
                            </div>
                        </div><div class="owl-item" style="width: 285px;">
                            <div class="item">
                                <div class="money-innr" style="height: 243px;">
                                    <div class="money-innr-icon">
                                        <img src="/images/delayed-icon.png" alt="">
                                    </div>
                                    <h4>Delayed SIP</h4>

                                    <p>
                                        Waiting to begin your savings plan may have an important impact on your results. A delay o..
                                    </p>
                                </div>
                                <a class="commn-bttn" href="/MoneyTools/DelayedSIP">learn more</a>
                            </div>
                        </div><div class="owl-item" style="width: 285px;">
                            <div class="item">
                                <div class="money-innr" style="height: 243px;">
                                    <div class="money-innr-icon">
                                        <img src="/images/good-time-icon.png" alt="">
                                    </div>
                                    <h4>Is It a Good Time to Invest</h4>

                                    <p>
                                        80% investors make below average returns because they invest when the market is highly pri..
                                    </p>
                                </div>
                                <a class="commn-bttn" href="/MoneyTools/GoodTimeToInvest">learn more</a>
                            </div>
                        </div><div class="owl-item" style="width: 285px;">
                            <div class="item">
                                <div class="money-innr" style="height: 243px;">
                                    <div class="money-innr-icon">
                                        <img src="~/images/risk-anayiser-icon.png" alt="">
                                    </div>
                                    <h4>Risk Analyser</h4>

                                    <p>
                                        Personality Profile Analyser is a tool to determine your risk tolerance in terms of abilit..
                                    </p>
                                </div>
                                <a class="commn-bttn" href="~/MoneyTools/Riskanalyser">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>







                <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div>
            </div>
        </div>
    </div>
</section>


<script src="@Url.Content("~/js/jquery-1.11.3.js")"></script>
<script>

    $(document).ready(function () {
        $(".footmenu").each(function (e) {
            if (e == '3') {
                $(this).addClass('current-menu-item');
            }
        });

        $(".headmenu").each(function (e) {
            if (e == '3') {
                $(this).addClass('current-menu-item');
            }
        });

    });
</script>
