@{
    ViewBag.Title = "Disclosure";
    Layout = "~/Views/Shared/_Layoutforpolicy.cshtml";
}

<!-- privacy policy -->
<section class="privacy-policy">
    <div class="container">
        <div class="privacy-innr">
            <h1>
                COMMISSION
            </h1>
            <p>
                Wealthclock earns commission from Asset Management Companies when the user buys mutual funds. However, the recommendations on funds is not influenced by the commission Wealthclock earns. Here is a list of Mutual Fund Companies that Wealthclock works with and the associated commission rates.
            </p>
            <div class="comm-graph-outr">
                <div class="comm-graph">
                    <img src="@Url.Content("~/images/Disclosure.PNG")" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end privacy policy -->
