

@{
    Layout = "~/Views/Shared/_Layout_Afterlogin.cshtml";
}


<section class="inve_surplus">
    <div class="container">
        <div class="rounded-box round1 rr sm-wdh">
            <div class="sur_text">
                Invest your surplus funds in ICICI liquid low-risk fund which you can redeem and get credited instantly in your bank account
            </div>


            <div class="inve_surpout">
                <div class="invemat_sur">
                    <div class="invemat_pic">
                        <img src="/images/images_Dashboard/depo.png" alt="">
                    </div>
                    <p>
                        Get 3~4% higher returns on your investment vs Bank Saving Account
                    </p>
                </div>
                <div class="invemat_sur">
                    <div class="invemat_pic">
                        <img src="/images/images_Dashboard/depo_gro.png" alt="">
                    </div>
                    <p>
                        Instantly Redeem upto 50,000/- & get credited in your bank account in less than 5minutes
                    </p>
                </div>
                <div class="invemat_sur">
                    <div class="invemat_pic">
                        <img src="/images/images_Dashboard/depo_wealth.png" alt="">
                    </div>
                    <p>
                        Redeem funds without any exit load charges
                    </p>
                </div>
            </div>
            <a href="/Dashboard/Purchase" class="inve_conti">Continue</a>
        </div>
    </div>
</section>

<div class="ui-loader ui-loader-default hide">
    <span class="ui-icon ui-icon-loading"></span>
</div>
<div class="kyc-loader kyc-loader-default hide">
    <span class="kyc-icon kyc-icon-loading"></span>
</div>

