@{
    Layout = "~/Views/Shared/_Layout_Afterlogin.cshtml";
}


<style>
    .addcustomClass {
        color: #ffffff !important;
        background: #0caea3 !important;
    }
</style>
<style>
    .commn-outr p {
        color: #ffffff;
        font-size: 12px;
    }
</style>
<section class="inner-page">
    <div class="container-fluid">
        <ul class="breadcrumb all-outr">
            <li>
                <a href="#">Transact</a>
            </li>
            <li>
                Wealthclock Recommended
            </li>
        </ul>
        <div class="header-t head">
            <h2>Wealthclock Recommended</h2>
        </div>
        <div class="clearfix">

            <div class="sort-sec recomnd-sec clearfix">
                <div class="sort-list clearfix">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar">&nbsp;</span>
                            <span class="icon-bar">&nbsp;</span>
                            <span class="icon-bar">&nbsp;</span>
                        </button>
                        <nav class="collapse navbar-collapse">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" id="anc_all">All</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="10">ELSS</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="11">Large Cap</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="12">Mid Cap</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="13">Multi Cap</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="14">Small Cap</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="15">Balanced Fund</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="16">Income Fund</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="17">Liquid</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="18">MIP</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="19">Sector Funds</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="wealth-outr clearfix">
                    <div class="row" id="mainDiv">


                        <div class="col-sm-3">
                            <div class="wealth-innr">
                                <div id="card" class="card">
                                    <figure class="wealth-recomen front">
                                        <div class="rcm-hdr">
                                            <div class="wealth-recomenhdr">
                                                <h3 title="BNP Paribas Large Cap Fund (G)">BNP Paribas Large Cap Fund (G)</h3>
                                                <div class="rating-innrr">
                                                    <img src="/images/rating-pic.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="rcm-hdr-innr">
                                                <a class="commn-bttn btn_buyMutualFund" href="javascript:void(0)" data-fundid="1627">Invest</a>
                                            </div>
                                        </div>

                                        <div class="wealth-perform">
                                            <h4>Performance</h4>
                                            <ul>
                                                <li>
                                                    <span>1 Yr</span>

                                                </li>


                                                <li>
                                                    <span>3 Yr</span>

                                                </li>
                                                <li>
                                                    <span>5 Yr</span>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="wealth-perform">
                                            <h4>Annual Returns </h4>
                                            <ul>
                                                <li>
                                                    <em>18.43%</em>
                                                </li>


                                                <li>
                                                    <em>14.49%</em>
                                                </li>
                                                <li>
                                                    <em>8.95%</em>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="rcm-bottom">
                                            <h5><span><i class="fa fa-inr" aria-hidden="true"></i></span>1,000 Min. Subcirption</h5>
                                            <div class="avg-btn">
                                                <a class="commn-bttn btn_buyMutualFund" href="javascript:void(0)" data-fundid="1627">Invest</a>
                                            </div>
                                        </div>

                                    </figure>
                                    <!-- ==== -->
                                    <figure class="wealth-recomen back">

                                        <div class="wealth-recomenhdr">
                                            <h3 title="BNP Paribas Large Cap Fund (G)">BNP Paribas Large Cap Fund (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Min. Investment: </span>
                                                <em> &#x20B9; 5000.0</em>
                                            </li>
                                            <li>
                                                <span>SIP Min. Investment: </span>
                                                <em> &#x20B9; 300.0</em>
                                            </li>
                                            <li>
                                                <span>Expense Ratio:</span>
                                                <em>2.35 %</em>
                                            </li>
                                            <li>
                                                <span>Exit Load:</span>
                                                <em>For units in excess of 10% of the investment,1% will be charged for redemption within 365 days</em>
                                            </li>
                                            <li>
                                                <span>Risk:</span>
                                                <em>Moderately High</em>
                                            </li>
                                            <li>
                                                <span>
                                                    Disclaimer:<p>Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully before investing.&nbsp;</p>

                                                    <p>Past performance is not indicative of future returns.</p>
                                                </span>
                                            </li>
                                        </ul>
                                    </figure>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="wealth-innr">
                                <div id="card" class="card">
                                    <figure class="wealth-recomen front">
                                        <div class="rcm-hdr">
                                            <div class="wealth-recomenhdr">
                                                <h3 title="Mahindra Unnati Emerging Business Yojana (G)">Mahindra Unnati Emerging Business Yojana (G)</h3>
                                                <div class="rating-innrr">
                                                    <img src="/images/rating-pic.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="rcm-hdr-innr">
                                                <a class="commn-bttn btn_buyMutualFund" href="javascript:void(0)" data-fundid="25015">Invest</a>
                                            </div>
                                        </div>

                                        <div class="wealth-perform">
                                            <h4>Performance</h4>
                                            <ul>
                                                <li>
                                                    <span>1 Yr</span>

                                                </li>


                                                <li>
                                                    <span>3 Yr</span>

                                                </li>
                                                <li>
                                                    <span>5 Yr</span>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="wealth-perform">
                                            <h4>Annual Returns </h4>
                                            <ul>
                                                <li>
                                                    <em>7.16%</em>
                                                </li>


                                                <li>
                                                    <em>-</em>
                                                </li>
                                                <li>
                                                    <em>-</em>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="rcm-bottom">
                                            <h5><span><i class="fa fa-inr" aria-hidden="true"></i></span>1,000 Min. Subcirption</h5>
                                            <div class="avg-btn">
                                                <a class="commn-bttn btn_buyMutualFund" href="javascript:void(0)" data-fundid="25015">Invest</a>
                                            </div>
                                        </div>

                                    </figure>
                                    <!-- ==== -->
                                    <figure class="wealth-recomen back">

                                        <div class="wealth-recomenhdr">
                                            <h3 title="Mahindra Unnati Emerging Business Yojana (G)">Mahindra Unnati Emerging Business Yojana (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Min. Investment: </span>
                                                <em> &#x20B9; 1000.0</em>
                                            </li>
                                            <li>
                                                <span>SIP Min. Investment: </span>
                                                <em> &#x20B9; 500.0</em>
                                            </li>
                                            <li>
                                                <span>Expense Ratio:</span>
                                                <em>2.47%</em>
                                            </li>
                                            <li>
                                                <span>Exit Load:</span>
                                                <em>1% for redemption within 365 days</em>
                                            </li>
                                            <li>
                                                <span>Risk:</span>
                                                <em>Moderately High</em>
                                            </li>
                                            <li>
                                                <span>
                                                    Disclaimer:<p>Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully before investing.&nbsp;</p>

                                                    <p>Past performance is not indicative of future returns</p>
                                                </span>
                                            </li>
                                        </ul>
                                    </figure>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="wealth-innr">
                                <div id="card" class="card">
                                    <figure class="wealth-recomen front">
                                        <div class="rcm-hdr">
                                            <div class="wealth-recomenhdr">
                                                <h3 title="BNP Paribas Large Cap Fund (G)">BNP Paribas Large Cap Fund (G)</h3>
                                                <div class="rating-innrr">
                                                    <img src="/images/rating-pic.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="rcm-hdr-innr">
                                                <a class="commn-bttn btn_buyMutualFund" href="javascript:void(0)" data-fundid="1627">Invest</a>
                                            </div>
                                        </div>

                                        <div class="wealth-perform">
                                            <h4>Performance</h4>
                                            <ul>
                                                <li>
                                                    <span>1 Yr</span>

                                                </li>


                                                <li>
                                                    <span>3 Yr</span>

                                                </li>
                                                <li>
                                                    <span>5 Yr</span>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="wealth-perform">
                                            <h4>Annual Returns </h4>
                                            <ul>
                                                <li>
                                                    <em>18.43%</em>
                                                </li>


                                                <li>
                                                    <em>14.49%</em>
                                                </li>
                                                <li>
                                                    <em>8.95%</em>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="rcm-bottom">
                                            <h5><span><i class="fa fa-inr" aria-hidden="true"></i></span>1,000 Min. Subcirption</h5>
                                            <div class="avg-btn">
                                                <a class="commn-bttn btn_buyMutualFund" href="javascript:void(0)" data-fundid="1627">Invest</a>
                                            </div>
                                        </div>

                                    </figure>
                                    <!-- ==== -->
                                    <figure class="wealth-recomen back">

                                        <div class="wealth-recomenhdr">
                                            <h3 title="BNP Paribas Large Cap Fund (G)">BNP Paribas Large Cap Fund (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Min. Investment: </span>
                                                <em> &#x20B9; 5000.0</em>
                                            </li>
                                            <li>
                                                <span>SIP Min. Investment: </span>
                                                <em> &#x20B9; 300.0</em>
                                            </li>
                                            <li>
                                                <span>Expense Ratio:</span>
                                                <em>2.35 %</em>
                                            </li>
                                            <li>
                                                <span>Exit Load:</span>
                                                <em>For units in excess of 10% of the investment,1% will be charged for redemption within 365 days</em>
                                            </li>
                                            <li>
                                                <span>Risk:</span>
                                                <em>Moderately High</em>
                                            </li>
                                            <li>
                                                <span>
                                                    Disclaimer:<p>Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully before investing.&nbsp;</p>

                                                    <p>Past performance is not indicative of future returns.</p>
                                                </span>
                                            </li>
                                        </ul>
                                    </figure>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="wealth-innr">
                                <div id="card" class="card">
                                    <figure class="wealth-recomen front">
                                        <div class="rcm-hdr">
                                            <div class="wealth-recomenhdr">
                                                <h3 title="Invesco Ultra Short Term Fund (G)">Invesco Ultra Short Term Fund (G)</h3>
                                                <div class="rating-innrr">
                                                    <img src="/images/rating-pic.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="rcm-hdr-innr">
                                                <a class="commn-bttn btn_buyMutualFund" href="javascript:void(0)" data-fundid="2051">Invest</a>
                                            </div>
                                        </div>

                                        <div class="wealth-perform">
                                            <h4>Performance</h4>
                                            <ul>
                                                <li>
                                                    <span>1 Yr</span>

                                                </li>


                                                <li>
                                                    <span>3 Yr</span>

                                                </li>
                                                <li>
                                                    <span>5 Yr</span>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="wealth-perform">
                                            <h4>Annual Returns </h4>
                                            <ul>
                                                <li>
                                                    <em>8.15%</em>
                                                </li>


                                                <li>
                                                    <em>7.37%</em>
                                                </li>
                                                <li>
                                                    <em>8.00%</em>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="rcm-bottom">
                                            <h5><span><i class="fa fa-inr" aria-hidden="true"></i></span>1,000 Min. Subcirption</h5>
                                            <div class="avg-btn">
                                                <a class="commn-bttn btn_buyMutualFund" href="javascript:void(0)" data-fundid="2051">Invest</a>
                                            </div>
                                        </div>

                                    </figure>
                                    <!-- ==== -->
                                    <figure class="wealth-recomen back">

                                        <div class="wealth-recomenhdr">
                                            <h3 title="Invesco Ultra Short Term Fund (G)">Invesco Ultra Short Term Fund (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Min. Investment: </span>
                                                <em> &#x20B9; 1000.0</em>
                                            </li>
                                            <li>
                                                <span>SIP Min. Investment: </span>
                                                <em> &#x20B9; 1000.0</em>
                                            </li>
                                            <li>
                                                <span>Expense Ratio:</span>
                                                <em>0.90%</em>
                                            </li>
                                            <li>
                                                <span>Exit Load:</span>
                                                <em>0</em>
                                            </li>
                                            <li>
                                                <span>Risk:</span>
                                                <em>Moderate</em>
                                            </li>
                                            <li>
                                                <span>
                                                    Disclaimer:<p>Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully before investing.&nbsp;Past performance is not indicative of future returns</p>
                                                </span>
                                            </li>
                                        </ul>
                                    </figure>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
                <div class="col-md-12 text-center hide" id="div_loader">
                    <div><img class="" src="/images/loader.gif" alt="" /></div>
                </div>

            </div>
        </div>
    </div>
</section>

<button type="button" class="btn btn-info btn-lg hide" data-toggle="modal" data-target="#modaltoBuy" id="btn_openBuyModal">Open Modal</button>

<div id="modaltoBuy" class="modal fade" role="dialog">

</div>

<script src="/js/jquery-1.11.3.js"></script>

<script>
    var AllTab = true;
    $(document).ready(function () {
        $(".footmenu").each(function (e) {
            if ($(this).text().trim() == '- Top Picks') {
                $(this).addClass('current-menu-item');
            }
        });

        $(".headmenu").each(function (e) {
            if (e == '2') {
                $(this).addClass('current-menu-item');
            }
        });
    });
</script>


<script type="text/javascript">
    var toNumber = 8;
    var fromNumber = 5;
    var passed_service = false;
    var fcat = 0;
    function getallFunds(id) {
        $('.ui-loader').removeClass('hide');
        AllTab = false;
        var fundcatID = $(this).data('fundcat');
        $.post("/Transact/showPartialviews", { fundcatID: id }, function (result) {
            if (result != "") {
                $('#mainDiv').html('');
                $('#mainDiv').html(result);
                $('.ui-loader').addClass('hide');
            }
        })
    }

    $('.anc_fundCat').click(function (e) {
        e.preventDefault();
        passed_service = false;
        fcat = Number($(this).data('fundcat'));
        getallFunds(Number($(this).data('fundcat')));
        $('#anc_all').removeClass('addcustomClass');
        $('.anc_fundCat').removeClass('addcustomClass');
        $(this).addClass('addcustomClass');
    });

    $('#anc_all').click(function () {
        fcat = 0;
        passed_service = false;
        $('.anc_fundCat').removeClass('addcustomClass');
        AllTab = true;
        $('#anc_all').addClass('addcustomClass');
        $('.ui-loader').removeClass('hide');
        $.post("/Transact/getallFunds", function (result) {
            if (result != "") {
                $('#mainDiv').html('');
                $('#mainDiv').html(result);
                $('.ui-loader').addClass('hide');
            }
        })
    });



    $(window).scroll(function () {
        if (AllTab) {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                if (!passed_service) {
                    $('#div_loader').removeClass('hide');
                    passed_service = true;
                    $.post("/Transact/getMoretopPicks", { fromNo: fromNumber, toNo: toNumber, fcat: fcat }, function (result) {
                        if ($.trim(result) != "<p>Sorry no fund Available</p>" && result != "") {
                            $('#mainDiv').append(result);
                            toNumber = toNumber + 4;
                            fromNumber = fromNumber + 4;
                            passed_service = false;
                        }
                        else if ($.trim(result) == "<p>Sorry no fund Available</p>") {
                            $('#div_loadbutton').addClass('hide');
                            passed_service = true;
                        }
                        $('#div_loader').addClass('hide');
                    })
                }
            }
        }
    });
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //$('.bck').click(function () {
        $('body').on('click', '.bck', function () {
            $(this).addClass('hide');
            $(this).parent().find('.nrm').removeClass('hide');
            $(this).parent().parent().parent().find('.card').toggleClass('flipped');
            return false;
        });
        //$('.nrm').click(function () {
        $('body').on('click', '.nrm', function () {
            $(this).addClass('hide');
            $(this).parent().find('.bck').removeClass('hide');
            $(this).parent().parent().parent().find('.card').toggleClass('flipped');
            return false;
        });
    });
</script>


<!--Open the modal in page load if data found-->
<script>
    $(document).ready(function () {
        $('#anc_all').addClass('addcustomClass');
        $('[data-toggle="tooltip"]').tooltip();
        if (0 > 0) {
            $('#anc_all').removeClass('addcustomClass');
            $('a[data-fundcat=' + 0 + ']').addClass('addcustomClass');
            getallFunds(0);
        }

        if (0 != 0) {
            $('.ui-loader').removeClass('hide');
            $.post("/Transact/openModaltobuyMutualFund", { uniqNo: 0 }, function (result) {
                if (result != "") {
                    $('#modaltoBuy').html('');
                    $('#modaltoBuy').html(result);
                    $('#btn_openBuyModal').trigger('click');
                    $('.ui-loader').addClass('hide');
                }
            })
        }
    });
</script>

<!--Lazy loader-->
<script type="text/javascript">
    $(document).ready(function () {




    });
</script>

<!--open modal for Buy fund..-->
<script type="text/javascript">
    $('body').on('click', '.btn_buyMutualFund', function (e) {
        $('.ui-loader').removeClass('hide');
        e.preventDefault();
        $.post("/Transact/openModaltobuyMutualFund", { uniqNo: $(this).data('fundid') }, function (result) {
            if (result != "") {
                $('#modaltoBuy').html('');
                $('#modaltoBuy').html(result);
                $('#btn_openBuyModal').trigger('click');
                $('.ui-loader').addClass('hide');
            }
        })
    })
</script>

<!--Buy fund & Send data to controller-->
<script type="text/javascript">
    $('body').on('click', '#btn_buybtnMutualFund', function (e) {
        e.preventDefault();
        if ($('#txt_PurchaseAmount').val() == "") {
            $.alert({
                title: 'Alert!',
                content: 'Enter amount please.',
            })
        }
        else {
            $('.ui-loader').removeClass('hide');
            var folio = "";
            if ($('#dd_folioNumber').val() == "add") {
                folio = $.trim($('#txt_newfolio').val())
            }
            else {
                folio = $('#dd_folioNumber').val()
            }
            $.post("/Transact/BuyMutualFund", { SchemeCode: $(this).data('schemcode'), Amount: $.trim($('#txt_PurchaseAmount').val()), Folio: folio }, function (data) {
                debugger;
                jsonresult = data.split('|');
                $('.ui-loader').removeClass('hide');
                if (jsonresult[0] == "Success") {
                    location.href = '/Transact/renderPaymentPage'
                }
                if (jsonresult[0] == "Failed") {
                    $.alert({
                        title: 'Alert!',
                        content: jsonresult[1],
                    });
                }
            })
        }

    })
</script>

<div class="ui-loader ui-loader-default hide">
    <span class="ui-icon ui-icon-loading"></span>
</div>
<div class="kyc-loader kyc-loader-default hide">
    <span class="kyc-icon kyc-icon-loading"></span>
</div>