@{
    Layout = "~/Views/Shared/_Layout_Afterlogin.cshtml";
}




<section class="banner-sec">
    <div class="banner-img">
        <img src="/images/post_banner_bg.jpg" alt="">
        <div class="ban-txtt prelog_ban">
            <div class="ban-in wow fadeIn" data-wow-delay="9s">
                <h1>Earn Upto <img src="/images/rupee_black.png" alt=""> 1,00,000 By Inviting Your <br />Friends To Wealthclock Advisors</h1>
                <a href="#" class="start-btn">Reference Code - Par072</a>
                <input type="hidden" value="https://www.wealthclockadvisors.com/ReferAFriend/R?code=Par072" id="myInput">
                <p>Share and get <em><img src="/images/rupee_blue.png" alt=""> 250</em> in your PayTM wallet for each successfully transacted referral</p>
            </div>
            <div class="ban_share">
                <img src="/images/share.png" alt="">
                <ul>
                    <li>

                        <a class="fb-share-button " data-layout="button" data-size="small" data-mobile-iframe="true" target="_blank" rel="canonical" href=https://www.wealthclockadvisors.com/ReferAFriend/R?code =Par072 class="fb-xfbml-parse-ignore"></a>

                    </li>
                    <li>

                        <a href=https://www.wealthclockadvisors.com/ReferAFriend/R?code =Par072 class="twitter-share-button" data-toggle="tooltip" title="Share in Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>


                    </li>
                    <li>
                        <script src="https://platform.linkedin.com/in.js" type="text/javascript"></script>
                        <script type="IN/Share" data-href="https://www.wealthclockadvisors.com/GoalTracker/InvestmentGoal">
                        </script>

                    </li>
                    <li>
                        <a href="http://www.facebook.com/dialog/send?app_id=2214007201995605&amp;link=https://www.wealthclockadvisors.com/ReferAFriend/R?code=Par072&amp;redirect_uri=https://www.wealthclockadvisors.com/" class="btnShare" data-toggle="tooltip" title="Share in Messenger"><i class="fab fa-facebook-messenger"></i></a>



                    </li>
                    <li>
                        <a href="javascript:void(0);" id="btnCopy" data-toggle="tooltip" title="Copy Referral Code"><i class="far fa-copy"></i></a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- lets get started sec -->
<figure class="post_analytics_sec pstAnal">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr wow fadeInUp">
                <h2>Analytics</h2>
                <p>Your referral stats and earnings</p>
            </div>

            <div class="row click_hide_effect clearfix">
                <div class="col-lg-4 col-sm-4">
                    <div class="post_analytics_outr">
                        <div class="post_analytics_innr">
                            <div class="analytics_count">
                                <h4>0</h4>
                                <p>clicks</p>
                            </div>
                            <div class="analytics_stats">
                                <p>0</p>
                                <p>Signups</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="post_analytics_outr">
                        <div class="post_analytics_innr equals_cls">
                            <div class="analytics_count">
                                <h4>0</h4>
                                <p>transacted</p>
                            </div>
                            <div class="analytics_stats">
                                <p><img src="/images/rupee_white.png" alt="">0</p>
                                <p>Received</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="post_analytics_outr">
                        <div class="post_analytics_innr earned_count">
                            <div class="analytics_count">
                                <h4>0</h4>
                                <p>earned</p>
                            </div>
                            <div class="analytics_stats">
                                <p><img src="/images/rupee_white.png" alt="">0</p>
                                <p>Pending Balance</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--<div class="start-your clearfix">
                <h3>Start Your Planning Now!</h3>
                <a href="https://www.wealthclockadvisors.com/Account/Registration" class="get-started">Get Started</a>
            </div>-->

        </div>
    </div>
</figure>

<!-- end lets get started sec -->
<!-- post datatable sec -->
<figure class="comn-outr dtRfer hide">
    <div class="container-fluid">
        <div class="post_data_content">
            <ul class="post_breadcrumb">
                <li><a href="#">Wealthclock Referral Program</a></li>
                <li>Invite your friends and earn</li>
            </ul>
            <div class="data_content_inner">
                <div class="data_credit_details">

                    <div class="invitation_credits_box_outr">
                        <div class="invitation_credits_box_innr">
                            <h5>Invitations</h5>
                            <div class="invitation_box_content">
                                <p><span>0</span> Clicks</p>
                                <p><span>0</span> Accepted</p>
                            </div>
                        </div>
                        <div class="invitation_credits_box_innr">
                            <h5>Credits</h5>
                            <div class="invitation_box_content credit_box_content">
                                <p><span>0</span> Earned</p>
                                <p><span>0</span> Received </p>
                                <p><span>0</span> Balance Pending</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data_content_table">
                <table id="post_data_table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile No</th>
                            <th>Current Stage</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</figure>
<!-- end post datatable sec -->
<!-- terms service sec -->
<figure class="terms_sec post_term">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr lft_hdr wow fadeInUp">
                <h2>Terms & Conditions</h2>
            </div>
            <div class="terms_content">
                <ul>
                    <li><em>1</em><p>You (the referrer) must be an investor at Wealthclock Advisors</p></li>
                    <li><em>2</em><p>The Registration by the referred person has to be done with the referral link only. Any registration without the referral link with not be considered for any cash rewards.</p></li>
                    <li><em>3</em><p>Only the investments made in equity/ hybrid funds by the referred person will be counted towards rewards.</p></li>
                    <li><em>4</em><p>PayTm cash worth Rs 250 acts as the default prize for every successful transaction of Rs. 2500 or above in case of SIP or a minimum of Rs. 10000 if invested otherwise. For instance, if 5 of your referred contacts make either of the above investments, you get Rs. 1250 credited to your PayTM account.</p></li>
                    <li><em>5</em><p>The Money will be credited to your account after 30 days if the investment made by the referred person is still active during that period.</p></li>
                    <li><em>6</em><p>A successful referral will show up when the investment has been processed. Please note that it may take up to five working days for that to reflect in your account.</p></li>
                    <li><em>7</em><p>The people who you refer must sign up and invest with your unique referral link, any external offline referrals will not be eligible to increase the count of your referral numbers.</p></li>
                    <li><em>8</em><p>Lumpsum investments will only be considered post 90 days for reward of 250.</p></li>
                    <li><em>9</em><p>You can refer unlimited friends.</p></li>
                    <li><em>10</em><p>Wealthclock Advisros reserves the right to withhold referral rewards at any point in time on our own discretion</p></li>
                </ul>
            </div>
        </div>
    </div>
</figure>




<div class="ui-loader ui-loader-default hide">
    <span class="ui-icon ui-icon-loading"></span>
</div>
<div class="kyc-loader kyc-loader-default hide">
    <span class="kyc-icon kyc-icon-loading"></span>
</div>

