@{
    Layout = "~/Views/Shared/_Layout_Afterlogin.cshtml";
}



<section class="goal-sec">
    <div class="container-fluid">
        <div class="goal-top">
            <div class="goal-top-innr">
                <div class="dash-goal-pic">
                    <div class="goal-pic">
                        <img src="/images/images_Dashboard/goaltarget.png" alt="" />
                    </div>
                </div>
                <div class="dash-goal-txt">
                    <h5>Total Number of Planned Goals</h5>
                    <p>0</p>

                </div>
            </div>
            <div class="goal-top-innr">
                <div class="dash-goal-pic">
                    <div class="goal-pic">
                        <img src="/images/images_Dashboard/goal-icon2.png" alt="" />
                    </div>
                </div>
                <div class="dash-goal-txt">
                    <h5>Monthly Investments to Achieve Goals</h5>
                    <p><span><i class="fa fa-inr" aria-hidden="true"></i></span>0</p>
                </div>
            </div>
            <div class="goal-top-innr">
                <div class="add-more-goal" id="dd_addgoal">
                    <a href="javscript:void(0);"><em>+</em>Add More Goal</a>
                </div>
            </div>
        </div>
        <div class="goal-outr">
            <div class="row goal-row">




            </div>
        </div>
    </div>
</section>
<button type="button" class="btn btn-info btn-lg hide" data-toggle="modal" data-target="#myModal" id="anc_openModal">Open Modal</button>

<div id="myModal" class="modal fade" role="dialog">

</div>



<div class="ui-loader ui-loader-default hide">
    <span class="ui-icon ui-icon-loading"></span>
</div>
<div class="kyc-loader kyc-loader-default hide">
    <span class="kyc-icon kyc-icon-loading"></span>
</div>
